@font-face {
    font-family: Roboto-Medium;
    src: url('./font/Roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url('./font/Roboto/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Shrikhand;
    src: url('./font/Shrikhand/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/*Codes couleurs*/
:root {
    --primaire: #9356DC;
    --primaireclair: #F7F1FF;
    --tertiaire: #99E2D0;
    --tertiairesombre: #1E9C7C;
    --secondaire: #FF79DA;
    --gris1: white;
    --gris2: #f6f6f6;
    --gris3: #eaeaea;
    --gris4: #404040;
    --danger : red;
    --black: black;
}

body {
    font-family: 'Roboto-Medium';
    margin: 0;

}

main {

}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}


header {
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 25px;
    
}

header img {
    width: 180px;
    height: auto;
}
/*
.linear-gradient {
  background: linear-gradient(to bottom, var(--gris4), var(--gris3));
  width: 100%;
  height:  6px;
}
*/
#section-localisation {
    background-color: var(--gris3);
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
    box-shadow: 0px 0px 8px 0px var(--gris4);
}

#section-localisation span {
    padding:  8px;
}

#section-presentation {
    background-color: var(--gris2);
    padding-bottom: 30px;
}

#section-presentation div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px ;
}

#section-presentation h1 {
    text-align: center;
}

#section-presentation p {
    font-family: Roboto-Light;
    font-size: 17px;
    text-align: center;
}



.bouton-filtre {
    background: var(--secondaire);
    padding: 15px;
    background: linear-gradient(170deg, var(--secondaire) 20%, var(--primaire) 70%);
    color:  white;
    border-radius: 2rem;
    box-shadow: 8px 8px 8px #d2d2d2;
}

#section-fonctionnement {
    background-color: white;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 20px;
    
}

.vignette-fonctionnement {
    display: flex;
    align-items: center;
    background-color: var(--gris2);
    border-radius: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 12px;
    box-shadow: 8px 8px 8px var(--gris3);

    /*transform: scaleX(1);
    animation-name: vignettes-foncitionnement;*/
}



/*.vignette-fonctionnement__numero .vignette-fontionnement__icone .vignette-fonctionnement__texte:hover {
    color: var(--primaire);
}*/
/* 
.vignette-fonctionnement--over {
    background-color: var(--primaireclair);
}*/

.vignette-fonctionnement__numero {
    font-size: 13px;
    padding: 6px;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 30px;
    background-color: var(--primaire);
    display: inline;
    color: white;
    transform: translate(-14px, 0);
}

.vignette-fonctionnement__icone {
    color: var(--gris4);
    padding: 18px;
}

.vignette-fonctionnement:hover {
    background-color: var(--primaireclair);
    color: var(--primaire);
    transform: scale(1.01);
    box-shadow: 8px 8px 8px #d2d2d2;
}

.vignette-fonctionnement:hover .vignette-fonctionnement__icone {
    color: var(--primaire);
}


/*.vignette-fonctionnement--violet {
    color: var(--primaire);
}

.vignette-fonctionnement__texte {
    
}*/

/*@keyframes vignettes-fonctionnement {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}*/


#section-restaurants {
    background-color: var(--gris2);
    padding-top: 15px;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 25px;
}

.card-restaurant {
    border-radius: 24px;
    background-color: white;
    margin-bottom: 18px;
    box-shadow: 6px 6px 6px var(--gris3);
    
}

.etiquette-nouveau {
    position: absolute;
    right: 15px;
    top: 10px;
    font-family: Roboto-Medium;
    font-size: 16px;
    color: var(--tertiairesombre);
    padding: 6px;
    background-color: var(--tertiaire);
}

.card-image {
    height: 170px;
    position: relative;
    overflow: hidden;
    border-radius: 24px 24px 0 0; 
}

.card-image img {
    /*object-fit: cover;*/
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px 24px 0 0;   
}

.card-body {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 16px;
    border-radius: 0 0 15px 15px;
    width: 100%;
    background-color: white;
    position: relative;

}

.card-body h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8px;
    padding-bottom: 6px;
    color: black;
    font-family: Roboto-Medium;
    font-size: 18px;

}

.card-body p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 8px;
    color: black;
    font-family: Roboto-Light;
    font-size: 17px;
}

.card-body:hover {
    background-color: var(--primaireclair);
}

.card-restaurant:hover {
    background-color: var(--primaireclair);
}

.checkbox-heart {
    position: absolute;
    right: 30px;
    bottom: 25px;
}

.fa-heart {
    display: flex;
    align-items: baseline;
    font-size: 1.5em;
    cursor: pointer;
}

.checkbox-heart input[type=checkbox], .checkbox-heart .check {
    display: none;
}

.checkbox-heart input[type=checkbox]:checked ~ .check {
    display: inline-block;
}

.checkbox-heart input[type=checkbox]:checked ~ .uncheck {
    display: none;
}

.uncheck {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.check {
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0px;
}


/*.icone-coeur:hover::after {
    opacity: 1;
}

.icone-coeur::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: red;
    opacity: 0;
    z-index: -1;
    transition: opacity 1000ms;
}
*/
footer {
    background-color: var(--gris4);
    padding-left: 18px;
}

h4 {
    font-family: Shrikhand;
    font-size: 20px;
    color: white;
    padding: 10px 0 10px 0;
    margin-top: 0;
    margin-bottom: 0;
}

footer nav {
    color: white;
}

footer nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

}

footer nav ul li {
    font-family: Roboto-Medium;
    padding-top: 3px;
    padding-bottom: 3px;
}

footer nav ul li i {
    padding-right: 12px;
}

footer nav a {
    color: white;
}

.largeur-min {
    min-width: 20px;
}

.font {
    font-family: Roboto-Light;
}

/*Mode tablette*/

@media only screen and (min-width : 769px) and (max-width : 992px) {

   /* #section-fontionnement {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }



    .vignette-fonctionnement {
        max-width: 31%;
        

    }*/

    .restaurants {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .card-restaurant {
        width: 48%;
        margin-bottom: 25px;
       
        
    }

}

/*Mode desktop*/

@media screen and (min-width: 993px) {

    .fonctionnement {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .vignette-fonctionnement {
        width: 31%;
    }

    .restaurants {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;

    }

    .card-restaurant {
        width: 48%;
        margin-bottom: 25px;
               
    }
}
