@font-face {
    font-family: Roboto-Medium;
    src: url('./font/Roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url('./font/Roboto/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Shrikhand;
    src: url('./font/Shrikhand/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/*Codes couleurs*/
:root {
    --primaire: #9356DC;
    --tertiaire: #99E2D0;
    --secondaire: #FF79DA;
    --info: #F5F5F5;
    --gray: #EDEDED;
    --grismoyen: #F7F7F7;
    --darkgray: #2F4F4F;
    --danger : red;
    --black: black;
}

body {
    font-family: 'Roboto-Medium';
    margin: 0;
}

main {

}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size:  13px;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 25px;
}

header img {
    width: 200px;
    height: auto;
}

#section-localisation {
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
}

#section-localisation span {
    padding:  8px;
}

#section-presentation {
    background-color: var(--grismoyen);
}

#section-presentation div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#section-presentation h1 p {
    font-family: Roboto-Light;
    font-size: 17px;
}

.bouton-filtre {
    background: #FF79DA;
    padding: 15px;
    background: linear-gradient(170deg, var(--secondaire) 20%, var(--primaire) 70%);
    color:  white;
    border-radius: 2rem;
}

#section-fonctionnement {
    background-color: var(--info);
    margin-top: 0;
    padding-top: 20px;
    padding-left: 6px;
    /*display: flex;
    justify-content: center;*/
}

.vignette-fonctionnement {
    display: flex;
    align-items: center;
    background-color: var(--gray);
    border-radius: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 5px;
}
 
.numero {
    font-size: 12px;
    padding: 8px;
    border-radius: 30px;
    background-color: var(--primaire);
    display: inline;
    color: white;
}

.icone {
    color: var(--darkgray);
}