@font-face {
    font-family: Roboto-Medium;
    src: url('./font/Roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url('./font/Roboto/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Shrikhand;
    src: url('./font/Shrikhand/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/*Codes couleurs*/
:root {
    --primaire: #9356DC;
    --tertiaire: #99E2D0;
    --secondaire: #FF79DA;
    --gris1: #F2F2F2;
    --gris2: #E6E6E6;
    --gris3: #D7D7D7;
    --gris4: #2F4F4F;
    --danger : red;
    --black: black;
}

body {
    font-family: 'Roboto-Medium';
    margin: 0;
}

main {

}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

h3 {
    font-size:  13px;
    font-weight: bold;
}

header {
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 25px;
}

header img {
    width: 200px;
    height: auto;
}

#section-localisation {
    background-color: var(--gris3);
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
}

#section-localisation span {
    padding:  8px;
}

#section-presentation {
    background-color: var(--gris2);
    padding-bottom: 30px;
}

#section-presentation div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px ;
}

#section-presentation h1 {
    text-align: center;
}

#section-presentation p {
    font-family: Roboto-Light;
    font-size: 17px;
    text-align: center;
}

.bouton-filtre {
    background: #FF79DA;
    padding: 15px;
    background: linear-gradient(170deg, var(--secondaire) 20%, var(--primaire) 70%);
    color:  white;
    border-radius: 2rem;
}

#section-fonctionnement {
    background-color: var(--gris1);
    margin-top: 0;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
    /*display: flex;
    justify-content: center;*/
}

.vignette-fonctionnement {
    display: flex;
    align-items: center;
    background-color: var(--gris2);
    border-radius: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 8px 8px 8px var(--gris3);
}
 
.numero {
    font-size: 12px;
    padding: 6px;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 30px;
    background-color: var(--primaire);
    display: inline;
    color: white;
}

.icone {
    color: var(--gris4);
    padding: 18px;
}

.icone-violet {
    color: var(--primaire);
    padding: 18px;
}

.vignette-fonctionnement-over {
    display: flex;
    align-items: center;
    background-color: #F7F1FF;
    border-radius: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 8px 8px 8px var(--gris3);
}

.vignette-texte {
    
}