@font-face {
    font-family: Roboto-Medium;
    src: url('./font/Roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url('./font/Roboto/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Shrikhand;
    src: url('./font/Shrikhand/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/*Codes couleurs*/
:root {
    --primaire: #9356DC;
    --primaireclair: #F7F1FF;
    --tertiaire: #99E2D0;
    --tertiairesombre: #1E9C7C;
    --secondaire: #FF79DA;
    --gris1: #F2F2F2;
    --gris2: #f6f6f6;
    --gris3: #eaeaea;
    --gris4: #404040;
    --danger : red;
    --black: black;
}

body {
    font-family: 'Roboto-Medium';
    margin: 0;

}

h1 {
    font-family: Shrikhand;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
}

h2 {
    font-family: Roboto-Light;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin: 0;
}

h3 {
    font-family: Roboto-Medium;
    font-size: 18px;
    margin: 0 ;
    padding-top:  5px;
    padding-bottom: 5px;
}

p {
    margin:  0;
}

header {
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 25px;
    position: relative;

}

header img {
    width: 180px;
    height: auto;
}

header a {
    color:  black;
    display:  inline;
    position: absolute;
    left:  15px;
    font-size:  22px;
}

.card-restaurant {
    background-color: var(--gris2);
    position: relative;
    margin-bottom: 0;

}

.card-restaurant img {
    object-fit: cover;
    width: 100%;
    height: 230px;

}

.card-title {
    display: flex;

    justify-content: space-between;
    align-items: center;
    border-radius: 40px 40px 0 0;
    position: absolute;
    bottom: -40px;
    background-color: var(--gris2);
    width: 100%;

}

/*.checkbox-heart {
    position: absolute;
    right: 25px;
    bottom: 30px;
}

.fa-heart {
    display: flex;
    align-items: baseline;
    font-size: 1.5em;
    cursor: pointer;
}

.checkbox-heart input[type=checkbox], .checkbox-heart .check {
    display: none;
}

.checkbox-heart input[type=checkbox]:checked ~ .check {
    display: inline-block;
}

.checkbox-heart input[type=checkbox]:checked ~ .uncheck {
    display: none;
}

.uncheck {
    -webkit-text-fill-color: var(--gris2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.check {
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0px;
}
*/

.boutonheart {
    position: relative;
    right: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.boutonheart__off {
    position: absolute;
    font-size: 28px;
    opacity: 1;
}

.boutonheart__on {
    position: absolute;
    font-size: 29px;
    opacity: 0;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.boutonheart__on:hover {
    opacity: 1;
    transition-duration: 300ms;
}

section {
    background-color: var(--gris2);
}

#section-entrées {
    transform: translateZ(10px); margin-top: 15px;
}

.border-bottom {
    width: 45px;
    height: 3px;
    background-color: var(--tertiaire);
    margin-left: 10px;
}

.vignette {
    background-color: white;
    margin-top: 18px;
    margin-right: 12px;
    margin-left: 12px;
    box-shadow: 8px 8px 8px var(--gris3);
    border-radius: 18px;
    max-width: 100%;

    animation: menu 2s;
    animation-fill-mode: both;
    transform-origin: top;

    display: flex;
    justify-content: space-between;
}

.vignette__left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vignette__right {
    width: 0;
    min-height: 100%;
    transform-origin: 100% 50%;
    opacity: 0;
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.vignette:hover .vignette__right {
    width: 100px;
    opacity: 100%;
}

.bouton-check {
    height: 100%;
    width: 100%;
    background-color: var(--tertiaire);
    border-radius: 0 18px 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton-check__rotate {
    transform: rotate(360deg);
    transition: 0.4s ease-in-out;    
}

.vignette:hover .bouton-check__rotate {
    transform: rotate(0deg);
}

.fa-check-circle {
    color: white;
    background-color: var(--tertiaire);
    font-size: 30px;
}

@keyframes menu {
    from {
        opacity: 0;
        transform: translate(0, 10px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.delay-1-seconds {
    animation-delay: 0.3s;
}

.delay-2-seconds {
    animation-delay: 0.6s;
}

.delay-3-seconds {
    animation-delay: 0.9s;
}

.delay-4-seconds {
    animation-delay: 1.2s;
}

.vignette .vignette-excerpt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto-Medium;
    font-size:  14px;
    padding-right: 10px;
    margin-right: 0;
}

.vignette p {
    font-family: Roboto-Light;
    font-size: 17px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.padding-bottom {
    padding-bottom: 10px;
}

#commande {
    background-color: var(--gris2);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton-commander {
    background: var(--secondaire);
    padding: 15px;
    background: linear-gradient(170deg, var(--secondaire) 20%, var(--primaire) 70%);
    color:  white;
    border-radius: 2rem;
    text-decoration: none;
    box-shadow: 8px 8px 8px #d2d2d2;
}

footer {
    background-color: var(--gris4);
    padding-left: 18px;
}

h4 {
    font-family: Shrikhand;
    font-size: 20px;
    color: white;
    padding: 10px 0 10px 0;
    margin-top: 0;
    margin-bottom: 0;
}

footer nav {
    color: white;
}

footer nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;

}

footer nav ul li {
    font-family: Roboto-Medium;
    padding-top: 3px;
    padding-bottom: 3px;
}

footer nav ul li i {
    padding-right: 12px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.largeur-min {
    min-width: 20px;
}

.font {
    font-family: Roboto-Light;
}

/*Mode tablette*/

@media only screen and (min-width : 769px) and (max-width : 992px) {

   
    .restaurants {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .card-restaurant {
        width: 100%;
        margin-bottom: 25px;
       
    }

    .card-restaurant img {
        width: 100%;
    }

}

/*Mode desktop*/

@media screen and (min-width: 993px) {

    h2 {
        width: 100%;
    }

    #menu {
        display: flex;
        justify-content: space-between;

    }

    #section-entrées, #section-plats, #section-desserts {
        width: 32%;
    }

    #section-plats, #section-desserts {
        padding-top: 15px;
    }
}

